Src/Connected Services/ServiceDOC/ServiceDoc1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PutFile3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key2" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="key3" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="key4" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="catId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="revision" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="remark" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entryUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="OrgFileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PutFile3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PutFile3Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PutFile2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key2" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="key3" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="key4" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="catId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="revision" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="remark" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entryUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="OrgFileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PutFile2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PutFile2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PutFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key2" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="key3" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="key4" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="catId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="revision" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="remark" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entryUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PutFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PutFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key2" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="key3" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="key4" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="revision" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFileIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileData2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key2" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="key3" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="key4" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="revision" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileData2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileData2Result" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="contentType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key2" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="key3" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="key4" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="revision" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileDataResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileDataById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileDataByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileDataByIdResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key2" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="key3" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="key4" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="revision" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="delUser" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFileById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="delUser" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFileByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteFileByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFilePreById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="delUser" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFilePreByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteFilePreByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoveFileById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="delUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OldKey2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoveFileByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MoveFileByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMergePdfFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JsonID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMergePdfFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMergePdfFileResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Organize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrganizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrganizeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PutFile3SoapIn">
    <wsdl:part name="parameters" element="tns:PutFile3" />
  </wsdl:message>
  <wsdl:message name="PutFile3SoapOut">
    <wsdl:part name="parameters" element="tns:PutFile3Response" />
  </wsdl:message>
  <wsdl:message name="PutFile2SoapIn">
    <wsdl:part name="parameters" element="tns:PutFile2" />
  </wsdl:message>
  <wsdl:message name="PutFile2SoapOut">
    <wsdl:part name="parameters" element="tns:PutFile2Response" />
  </wsdl:message>
  <wsdl:message name="PutFileSoapIn">
    <wsdl:part name="parameters" element="tns:PutFile" />
  </wsdl:message>
  <wsdl:message name="PutFileSoapOut">
    <wsdl:part name="parameters" element="tns:PutFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileId" />
  </wsdl:message>
  <wsdl:message name="GetFileIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileData2SoapIn">
    <wsdl:part name="parameters" element="tns:GetFileData2" />
  </wsdl:message>
  <wsdl:message name="GetFileData2SoapOut">
    <wsdl:part name="parameters" element="tns:GetFileData2Response" />
  </wsdl:message>
  <wsdl:message name="GetFileDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileData" />
  </wsdl:message>
  <wsdl:message name="GetFileDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileDataByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileDataById" />
  </wsdl:message>
  <wsdl:message name="GetFileDataByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileDataByIdResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFileSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="DeleteFileSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFileByIdSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFileById" />
  </wsdl:message>
  <wsdl:message name="DeleteFileByIdSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFileByIdResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFilePreByIdSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFilePreById" />
  </wsdl:message>
  <wsdl:message name="DeleteFilePreByIdSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFilePreByIdResponse" />
  </wsdl:message>
  <wsdl:message name="MoveFileByIdSoapIn">
    <wsdl:part name="parameters" element="tns:MoveFileById" />
  </wsdl:message>
  <wsdl:message name="MoveFileByIdSoapOut">
    <wsdl:part name="parameters" element="tns:MoveFileByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetMergePdfFileSoapIn">
    <wsdl:part name="parameters" element="tns:GetMergePdfFile" />
  </wsdl:message>
  <wsdl:message name="GetMergePdfFileSoapOut">
    <wsdl:part name="parameters" element="tns:GetMergePdfFileResponse" />
  </wsdl:message>
  <wsdl:message name="OrganizeSoapIn">
    <wsdl:part name="parameters" element="tns:Organize" />
  </wsdl:message>
  <wsdl:message name="OrganizeSoapOut">
    <wsdl:part name="parameters" element="tns:OrganizeResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceDocSoap">
    <wsdl:operation name="PutFile3">
      <wsdl:input message="tns:PutFile3SoapIn" />
      <wsdl:output message="tns:PutFile3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PutFile2">
      <wsdl:input message="tns:PutFile2SoapIn" />
      <wsdl:output message="tns:PutFile2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PutFile">
      <wsdl:input message="tns:PutFileSoapIn" />
      <wsdl:output message="tns:PutFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileId">
      <wsdl:input message="tns:GetFileIdSoapIn" />
      <wsdl:output message="tns:GetFileIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileData2">
      <wsdl:input message="tns:GetFileData2SoapIn" />
      <wsdl:output message="tns:GetFileData2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileData">
      <wsdl:input message="tns:GetFileDataSoapIn" />
      <wsdl:output message="tns:GetFileDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileDataById">
      <wsdl:input message="tns:GetFileDataByIdSoapIn" />
      <wsdl:output message="tns:GetFileDataByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input message="tns:DeleteFileSoapIn" />
      <wsdl:output message="tns:DeleteFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFileById">
      <wsdl:input message="tns:DeleteFileByIdSoapIn" />
      <wsdl:output message="tns:DeleteFileByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFilePreById">
      <wsdl:input message="tns:DeleteFilePreByIdSoapIn" />
      <wsdl:output message="tns:DeleteFilePreByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MoveFileById">
      <wsdl:input message="tns:MoveFileByIdSoapIn" />
      <wsdl:output message="tns:MoveFileByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMergePdfFile">
      <wsdl:input message="tns:GetMergePdfFileSoapIn" />
      <wsdl:output message="tns:GetMergePdfFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Organize">
      <wsdl:input message="tns:OrganizeSoapIn" />
      <wsdl:output message="tns:OrganizeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceDocSoap" type="tns:ServiceDocSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PutFile3">
      <soap:operation soapAction="http://tempuri.org/PutFile3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutFile2">
      <soap:operation soapAction="http://tempuri.org/PutFile2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutFile">
      <soap:operation soapAction="http://tempuri.org/PutFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileId">
      <soap:operation soapAction="http://tempuri.org/GetFileId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileData2">
      <soap:operation soapAction="http://tempuri.org/GetFileData2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileData">
      <soap:operation soapAction="http://tempuri.org/GetFileData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileDataById">
      <soap:operation soapAction="http://tempuri.org/GetFileDataById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFileById">
      <soap:operation soapAction="http://tempuri.org/DeleteFileById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFilePreById">
      <soap:operation soapAction="http://tempuri.org/DeleteFilePreById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveFileById">
      <soap:operation soapAction="http://tempuri.org/MoveFileById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMergePdfFile">
      <soap:operation soapAction="http://tempuri.org/GetMergePdfFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Organize">
      <soap:operation soapAction="http://tempuri.org/Organize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceDocSoap12" type="tns:ServiceDocSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PutFile3">
      <soap12:operation soapAction="http://tempuri.org/PutFile3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutFile2">
      <soap12:operation soapAction="http://tempuri.org/PutFile2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutFile">
      <soap12:operation soapAction="http://tempuri.org/PutFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileId">
      <soap12:operation soapAction="http://tempuri.org/GetFileId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileData2">
      <soap12:operation soapAction="http://tempuri.org/GetFileData2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileData">
      <soap12:operation soapAction="http://tempuri.org/GetFileData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileDataById">
      <soap12:operation soapAction="http://tempuri.org/GetFileDataById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap12:operation soapAction="http://tempuri.org/DeleteFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFileById">
      <soap12:operation soapAction="http://tempuri.org/DeleteFileById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFilePreById">
      <soap12:operation soapAction="http://tempuri.org/DeleteFilePreById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveFileById">
      <soap12:operation soapAction="http://tempuri.org/MoveFileById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMergePdfFile">
      <soap12:operation soapAction="http://tempuri.org/GetMergePdfFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Organize">
      <soap12:operation soapAction="http://tempuri.org/Organize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceDoc">
    <wsdl:port name="ServiceDocSoap" binding="tns:ServiceDocSoap">
      <soap:address location="http://ptprkpnas02:8027/ServiceDoc.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceDocSoap12" binding="tns:ServiceDocSoap12">
      <soap12:address location="http://ptprkpnas02:8027/ServiceDoc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>